
/* 
    Created on : May 7, 2017, 6:28:34 PM
    Author     : Jennifer
Custom CSS to support the ajax/json list page.
*/

html {
    position: relative;
    min-height: 100%;
}
.actionButtons {
    padding-top: 5px;
    margin-right: 10px; 
}

button {
    border-radius: 6px; 
    border: 1px solid #59821e;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #59821e;
    font-weight: bold; 
    font-size: large; 
    background-image: url(../images/topography.png); 
}
.footer {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    font-size: small; 
    color: #59821e;
    text-align: center; 
    background-color: #dae3cd;
}
.leftArea {
    position: absolute;
    left: 200px;
    top: 170px;
    bottom: 20px;
    width: 300px;
    border:solid 2px #59821e;
    overflow-y: scroll;
}
.mainArea {
    position: absolute;
    top: 170px;
    bottom: 20px;
    left:800px;
    width:300px;
}
#container {
    bottom: 150px;  
}
.rightArea {
    position: absolute;
    top: 150px;
    bottom: 20px;
    left:990px;
    width:120px;
}
ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 30px; 
}
li a { 
    text-decoration:none;
    display: block;
    color: #59821e;
    border-bottom:solid 1px #59821e;
    padding: 8px;
}
li a:hover {
    background-color: #59821e;
    color: #dae3cd;

}
input, textarea {
    border:1px solid #59821e;
    min-height:30px;
    outline: none;
}
.mainArea input {
    margin-bottom:15px;
    margin-top:5px;
    width:280px;
}
textarea {
    margin-bottom:15px;
    margin-top:5px;
    height: 200px;
    width:250px;
}
.apiHead {
    font-size: large;
    font-weight: bold;
}
.errMsg {
    font-weight: bold;
    color: red;
}
label {
    display:block;
}
button {
    padding:6px;
    margin-right: 10px;
}
#btnSave{
    font-weight: bold;
    padding:10px;
     color: #59821e;
}


