
/* 
    Created on : Mar 18, 2017, 7:17:14 PM
    Author     : Jennifer
custom CSS used across entire app, sometimes alone on pages, sometimes in conjunction with other CSS files on other pages.
Requires major clean-up/ review. 5/13/2017
*/

body {
    font-family: 'Open Sans', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    color: #59821e;
    font-weight: bold; 
    font-size: large; 
    background-image: url(../images/topography.png); 
}
#navLink {
    background-color: #f9fcf2;
    padding: 10px; 
}

#listButtons {
    position:relative;
    left:940px;
}

#delete, #add {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey;
}
#cancel {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey; 
    margin-left: 10px;
}
input:focus { 
    background-color: lemonchiffon; 
    border: 3px solid #59821e;
    transform: translateY(2px);
}
.form-control:focus {

    border-color: #D6CDE3;
    box-shadow: 0px 0px 5px #888888; 
}
input[type=text] {
    width: 150px;
    border-radius: 6px; 
    font-family: 'Open Sans', sans-serif;

    border: 1px solid #59821e; 
}
#messageInput {
   width: 450px;
    border-radius: 6px; 
    font-family: 'Open Sans', sans-serif;
margin-right: 20px; 
    border: 1px solid #59821e;  
    
}

#messages {
    border: 1px solid green; ; 
    width: 500px;
    float: right; 
   
}
label {
    display: inline-block; 
    font-family: 'Montserrat', sans-serif;
}
input[type=password] {
    width: 100px;
    margin-top: 10px; 
    font-family: 'Open Sans', sans-serif;
    display: inline-block; 
}
#searchTable {
    border-radius: 4px;
    border: 1px solid grey;   
    margin-left: 10px;  

}
#search {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey;
    float: right; 
}
#submit {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey;
}
.carousel-inner {
    border: 1px solid grey; 
}
#btn-login-submit {
    padding: 8px;
    margin-bottom: 1em; 
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px; 
    border: 1px solid #59821e;
    margin-left: 25em; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}
#editWine {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey;
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #59821e; 
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: xx-large; 
    color: #59821e; 
}
h4 {
    color: #59821e;   
    font-family: 'Open Sans', sans-serif;
}

#content {
    padding: 25px; 
    background-image: url(../images/topography.png); 
}


#goToListButton, #gotToSearchButton,#gotToQuickSearchButton, #gotToQuickListButton, #btn-chat {
    padding: 10px; 
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #D6CDE3; 
    color: #59821e;
    border-radius: 6px;
    border: 1px solid grey; 
    font-weight: bolder; 
}
#form-login-container {
    background-color: #ecf1e6;
    text-align: center;
    font-weight: bold; 
    color: #59821e; 
    width: 80%;
    box-shadow: 5px 5px 15px #6d7166;
    border-radius: 5px;
    border: 1px solid #6d7166;
}
.btn:active {
    background-color: #d3d6cd;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}
th {
    font-family: 'Montserrat', sans-serif;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #D6CDE3;
}
html {
    position: relative;
    min-height: 100%;
}


#myCarousel {
    width: 50%; 
    height: 30%; 
    margin-top: -45px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
}
.footer {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    font-size: small; 
    color: #59821e;
    text-align: center; 
    background-color: #dae3cd;
}

.my-col-count-style {
    column-count: 2;
    column-gap: 15px;
}

.my-col-count-style .panel {

    width: 100%;
}

.panel-default > .panel-heading {
    font-size: xx-large; 
    font-weight: bold; 
    color: #59821e;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #59821e;
}
.panel-default {
    border: 1px solid #59821e;
    box-shadow: 5px 5px 5px #dae3cd;
    height: 100%; 
}
#messageArea {
    float: right; 
 
    margin-top: -40px; 
}

